@import url(../vendor/normalize.css);

fieldset {
    border: 0;
}

.page{
    min-width: 1100px;
    max-width: 1600px;
    font-family: inter, arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

@media(min-width: 1600px){
.page{
    margin: auto;
}
}
    
.header{
    background-image: url(../Images/background_header.svg);
    min-height: 720px;
    max-height: 800px;
    padding-top: 30px;
    position: relative;
    background-size: cover;

}

.header__image{
    position: absolute;
    height: 125px;
    width: 142px;
    margin-top: 30px;
    margin-left: 30px;
}

.nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.nav__links{
    list-style: none;
    margin-top: 30px;
    margin-right: 80px;
    margin-bottom: 0px;
    display: flex;
    column-gap: 20px;
}

.nav__link{
    text-decoration: none;
    color: #000000;
}

.nav__link:hover{
    color: #2F80ED;
    transition: color 0.4s ease-in-out;
}

.header__span-accent{
    color: #2f80ed;
    font-style: italic;
    font-family: "noto serif", 'Times New Roman', serif;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
    display: block;
}

.header__coffee{
    top: 124px;
    right: 5px;
    max-width: 646px;
    max-height: 568px;
    position: absolute;
}

.header__title{
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;
    margin-top: 202px;
    margin-left: 80px;
    margin-bottom: 28px;
    max-width: 729px;
}

.description{
    font-family: "noto serif", 'Times New Roman', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    max-width: 683px;
    margin-left: 80px;
}

.paragraph{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    font-family: inter, arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.paragraph__time{
    margin: 0;
}

.header__footer {
    left: 0;
    display: flex;
    position: absolute;
    bottom: 40px;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    color: #6f6f6f;
}

.header__address{
    font-family: inter, arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-right: 80px;
    margin-bottom: 0;
}

.menu{
    background-color: #0a2750;
    background-image: url(../Images/background_menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title{
    padding-top: 100px;
    bottom: 12px;
    font-family: inter, arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    color: #ffffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 24px;
}

.subtitle{
    max-width: 780px;
    margin-top: 12px;
    font-family: "noto serif", 'Times New Roman', serif;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    color: #ffffffff;
    text-align: center;
    margin: auto;
    margin-bottom: 100px;
}

.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    padding-bottom: 100px;
    
}

.card{
    max-width: 600px;
    color: #ffffffff;
    width: 600px;
}

.card__title{
    font-family: inter, arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 32px;
}

.card__list-item{
    font-family: "noto serif", 'Times New Roman', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;
    justify-content: space-between;
    display: flex;
    align-items: flex-end;
    width: 100%;
}

.card__list{
    padding: 0;
}


.recipes{
   background:  #fff url("../Images/background_recipes.svg") no-repeat
    center/cover;
    padding: 100px 80px 215px;
}

.recipes__title{
    font-family: inter, arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    max-width: 580px;
    margin-top: 0;
    margin-bottom: 24px;
    margin-left: 80px;
    padding-top: 100px;
}

.recipes__subtitle{
    margin-bottom: 80px;
    margin-left: 80px;
    max-width: 438px;
    font-family: "noto serif", 'Times New Roman', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}

.videos{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 215px;
}

.card__list-divider{
    height: 1px;
    min-width: 50px;
    background: white;
    flex-grow: 1;
}

.video-caption{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    font-family: inter, arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}


.reservation{
    background: #d9e7ff url(../Images/background_reservation.svg) no-repeat center/cover;
    padding: 100px;
}

.reservation__title{
    
    font-family: inter, arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    margin: auto;
    margin-bottom: 80px;
}

.reservation__contanier{
    margin-top: 100px;
    bottom: 80px;
    font-family: inter, arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
}

.reservation__fieldset{
    display: flex;
    flex-direction: column;
    max-width: 385px;
    padding: 0;
    margin-bottom: 32px;
    width: 385px;
}

.reservation__label{
    margin-bottom: 8px;
    font-family: inter, arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    border: 0;
    padding: 0;

}
.reservation__item{
    margin-bottom: 8px;
    padding:15px;
    font-family: inter, arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

}

.reservation__form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.reservation__button[type="submit"] {
    min-height: 60px;
    background: #2f80ed;
    border-radius: 4px;
    font-size: 16px;
}

.reservation__button{
    font-family: inter, arial, sans-serif;
    font-style: normal;
    color: #ffffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    background: #2f80ed;
    width: 100%;
    margin-bottom: 32px;
    opacity: 100%;
    transition: opacity 0.5 ease;
}

.reservation__button:hover{
    opacity: 70%;
    
}

.reservation__checkbox{
    width: 20px;
    height: 20px;
    margin-right: 12px;
}

.reservation__terms{
    font-family: inter, arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.reservation__wrap{
    display: flex;
    justify-content: center;
}

.about{
    background: #0a2850;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.about__title{
    font-family: inter, arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    color: #ffffffff;
    max-width: 251px;
    padding-top: 100px;
    padding-left: 80px;
    z-index: 1;
    margin: 0;
}

.about__content{
    max-width: 660px;
    padding-top: 119px;
    padding-bottom: 173px;
    padding-right: 80px;
}

.about__paragrapgh{
    font-family: "noto serif", 'Times New Roman', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #ffffffff;
}


.about__circle{
    background-color: #2f80ed;
    position: absolute;
    width: 426px;
    height: 426px;
    border-radius: 50%;
    z-index: 0;
    top: -152px;
    left: -129px;
    
}

.about__circle-animation_blurred{
    animation: circle-animation 1.5s ease-in-out 0s infinite;
    background-color: #2f80ed;
    position: absolute;
    width: 426px;
    height: 426px;
    border-radius: 50%;
    z-index: 0;
    top: -152px;
    left: -129px;
    
}

@keyframes circle-animation {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    50% {
        opacity: 0.6; 
    }
    100% {
        opacity: 0;
        transform: scale(1.3); 
    }
}

.footer{
    background: linear-gradient(180deg, #0A2850 0%, #071931 100%);
}

.footer__logo{
    width: 116px;
    height: 21px;
    padding-left: 80px;
    
}

.footer__content{
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
    padding-top: 60px;
}

.footer__social-heading{
    margin-bottom: 20px;
    margin: 0;
    font-family: inter, arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #ffffffff;
    text-align: right;
}

.footer__list{
    list-style-type: none;
}

.footer__list-item{
    font-family: inter, arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #ffffffff;
}

.footer__social-link{
    font-family: inter, arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #ffffffff;
}

.footer__social-link:hover{
    color: #c1c1c1;
    transition: color 0.4s ease-in-out;
}

.footer__copyright{
    padding: 108px 0 60px 80px;
    color: #ffffffff;
    font-family: inter, arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
}